h3
  {
    font-size: 25px !important;
  }
  .btn-success:hover{
    background-color: darkslategray;
  }
  canvas {
    animation-name: example; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  @keyframes example{
    from{box-shadow: 3px 3px 40px rgb(255, 196, 0)}
    to{box-shadow: 3px 3px 40px rgb(24, 180, 58)}
  }